/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(238, 100%, 70%);
  --first-gradient: linear-gradient(90deg,
                  hsl(243, 96%, 54%),
                  hsl(296, 78%, 53%));
  --second-gradient: linear-gradient(90deg,
                  hsl(192, 94%, 49%),
                  hsl(224, 98%, 51%));
  --third-gradient: linear-gradient(90deg,
                  hsl(25, 96%, 55%),
                  hsl(34, 93%, 53%));
  --white-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 75%);
  --text-color-light: hsl(0, 0%, 55%);
  --border-color: hsl(0, 0%, 45%);
  --body-color: hsl(238, 100%, 12%);
  --body-color-light: hsl(238, 60%, 20%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Audiowide", sans-serif;
  --biggest-font-size: 3rem;
  --big-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 5.5rem;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--white-color);
}

input,
button {
  border: none;
  outline: none;
}

h1, h2, h3, h4 {
  color: var(--white-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  font-size: var(--big-font-size);
  font-family: var(--second-font);
  font-weight: initial;
  margin-bottom: 2rem;
  text-align: center;
}

.section__title span {
  display: block;
  background: var(--third-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--first-gradient);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  z-index: var(--z-fixed);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
}

.nav__logo img {
  width: 2rem;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.nav__link {
  color: var(--white-color);
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  transition: color .4s;
}

/*=============== GAME ===============*/
button {
  display: inline-flex;
  justify-content: center;
  background: var(--first-gradient);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  padding: 1rem 2rem;
  transition: box-shadow .4s;
  border-radius: 1rem;
}

button:hover {
  box-shadow: 0 8px 32px hsla(243, 100%, 54%, .4);
}

.game__title {
  text-align: center;
  padding: 1rem;
}

.wrapper {
  margin: auto;
  width: fit-content;
}

.layout{
  text-align: center;
}

.card{
  height: 180px;
  width: 120px;
  border: 2px solid var(--body-color-light);
  padding-top: 60px;
  border-radius: 10px;
  font-size: 3rem;
  text-align: center;
  box-shadow: 1px 1px 3px 1px var(--first-color);
}

.card[data-red=true]{
  color: red;
}

.cards{
  display: flex;
  gap: 20px;
}

.back {
  content: "";
  background: var(--second-gradient);
}

.game__button {
  margin: 10px;
}

#hit,
#pass {
  margin: 5px;
}

.background{
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.notice{
  height: fit-content;
  width: fit-content;
  padding: 5%;
  background: white;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
}

.notice p{
  margin: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  white-space: pre-wrap;
  line-height: 150%;
  color: var(--text-color-light);
}

/* Swiper class */


/* Swiper animation */


/*=============== FOOTER ===============*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-color: transparent;
}

.footer__text {
  color: var(--white-color);
  font-size: var(--normal-font-size);
}

.footer__highlight {
  color: var(--first-color);
}

/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up */


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */
